body {
    background-color: white;
    margin: 0;
}

.wrapper {
    /*set based on status*/
    display: initial;
}
.default {
    /*set to none once set is online*/
    display: none;
}

.top-header {
    overflow: hidden;
    background-color: lightgrey;
}

.top-header a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: lightgrey;
    border-width: 2px;
    border-color: red;
}

.top-header a:hover {
    background-color: grey;
    color: white;
}

.main {
    padding-left: 16px;
}
