body {
    background-color: white;
}

.sidebar {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgray;
}
.sidebar a {
    color: gray;
    padding: 16px;
    text-decoration: none;
    display: block;
}